<div class="container" style="padding-top: 25px;" *ngIf="orders">
  <h1 class="text-center">My Orders</h1>
  <div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
      <div class="box">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody *ngIf="orders; else notFound">
              <tr *ngFor="let o of orders">
                  <td>{{o._id}}</td>                
                  <td>{{o.date | date: 'dd/MM/yyyy'}}</td>                
                  <td><a routerLink="/order/details/{{o._id}}" class="btn btn-warning btn-sm">View</a></td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
  <ng-template #notFound>
    <h3 class="text-warning">No Orders</h3>
  </ng-template>
</div>
