<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Register</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input formControlName="username" type="text" id="defaultForm-username" class="form-control validate" 
          mdbInput>
        <label data-error="wrong" data-success="right" for="defaultForm-username">Your username</label>
        <mdb-error *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">Required
          Field</mdb-error>
        <mdb-error *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('minlength')">Not valid
          username</mdb-error>
      </div>
      <div class="md-form mb-4" formGroupName="passwords">
        <i class="fas fa-lock prefix grey-text"></i>
        <input formControlName="password" type="password" id="defaultForm-pass" class="form-control validate" mdbInput>
        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        <mdb-error
          *ngIf="registerForm.get(['passwords', 'password']).touched && registerForm.get(['passwords', 'password']).hasError('required')">
          Password is required</mdb-error>
        <mdb-error
          *ngIf="registerForm.get(['passwords', 'password']).touched && registerForm.get(['passwords', 'password']).hasError('minlength')">
          Password must be at least 3 symbols</mdb-error>
      </div>
      <div class="md-form mb-4" formGroupName="passwords">
        <i class="fas fa-lock prefix grey-text"></i>
        <input formControlName="repeatPassword" type="password" id="defaultForm-repeat-pass" class="form-control validate" mdbInput>
        <label data-error="wrong" data-success="right" for="defaultForm-repeat-pass">Repeat password</label>
        <mdb-error *ngIf="registerForm.get(['passwords', 'repeatPassword']).touched && 
          registerForm.get(['passwords', 'password']).touched  && 
          registerForm.get('passwords').hasError('passwordMismatch')">Passwords does not match</mdb-error>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button [disabled]="registerForm.invalid" mdbBtn color="default" class="waves-light" mdbWavesEffect>Register</button>
      </div>
    </form>
  </div>
</div>