<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h2 class="card-title h2">Book Store</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">Littera scripta manet</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio
        exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati
        numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4">

  <ng-template [ngIf]="isAnonymous">
    <div class="pt-2">
      <button type="button" mdbBtn color="blue" (click)="loginModal()" mdbWavesEffect>Login <i
          class="fas fa-user-alt"></i></button>
      <button type="button" mdbBtn color="primary" outline="true" (click)="registerModal()" mdbWavesEffect> Register
        <mdb-icon fas icon="download" class="ml-1"></mdb-icon></button>
    </div>
  </ng-template>
</div>
<!-- Jumbotron -->