<!-- Card -->
<mdb-card >
  <div class="view rgba-white-slight waves-light" (mouseover)="changeText=true" (mouseout)="changeText=false"
    mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img *ngIf="!changeText" class="card-item" src={{book.image}} alt="Card image cap"></mdb-card-img>
    <div class='desc-box' *ngIf="changeText" [@fadeAnimation]>
      <p id="desc-first">{{book.title}}<br><span>{{book.description}}</span></p>
    </div>
    <a>
      <div class="mask" routerLink="/book/details/{{book._id}}"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{book.title}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> {{book.author}} | {{book.price}} $
    </mdb-card-text>

    <ng-container *ngIf="isAdmin; else userControls">
      <a routerLink="/admin/edit/{{book._id}}" mdbBtn color="warning" mdbWavesEffect>Edit</a>
      <a (click)="deleteBook()" mdbBtn color="danger" mdbWavesEffect>Delete</a>
    </ng-container>

    <ng-template #userControls>
      <a (click)="addToCart()" mdbBtn color="primary" mdbWavesEffect>Buy</a>
      <!-- <a *ngIf="isInCart" routerLink="/cart" mdbBtn color="primary" mdbWavesEffect>GO To Cart</a> -->
    </ng-template>

  </mdb-card-body>
</mdb-card>

<!-- Card -->