<!-- Card -->
<mdb-card>
  <div class="view rgba-white-slight waves-light" (mouseover)="changeText=true" (mouseout)="changeText=false"
    mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img *ngIf="!changeText" class="card-item" src={{book.image}} alt="Card image cap"></mdb-card-img>
    <div class='desc-box' *ngIf="changeText" [@fadeAnimation]>
        <p id="desc-first">{{book.title}}<br><span>{{book.description}}</span></p>
        </div>
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{book.title}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> {{book.author}}
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>

<!-- Card -->